/*==================== GOOGLE FONTS ====================*/


/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color),  12%, 80%);


    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif; ;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 69%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color),  12%, 36%);
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__subtitle,
.section__title {
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container__page {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid__page {
    display: grid;
    gap: 1.5rem;
}

/*==================== BUTTONS ====================*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}
.button:hover {
    filter: brightness(.9);
    color: var(--first-color-lighter);
}
.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .1s;
}
.button--flex {
    display: inline-flex;
    align-items: center;
}
.button--white {
    background-color: #fff;
    color: var(--first-color);
}
.button--white:hover {
    filter: brightness(.9);
}
.button--small {
    padding: .75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}
.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}


/*==================== MEDIA QUERIES ====================*/
@media screen and (max-width: 350px){
    .container__page {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav_menu {
        padding: 2rem .25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }

    .home__content {
        grid-template-columns: .25fr 3fr;
    }

    .home__blob {
        width: 180px;
    }

    .skills__title {
        font-size: var(--normal-font-size);
    }

    .qualification__data{
        gap: .5rem;
    }

    .sevices__container {
        grid-template-columns: max-content;
        justify-content: center;
    }
    .sevices__content {
        padding-right: 3.5rem;
    }
    .services__modal{
        padding: 0 .5rem
    }

    .project__img {
        width: 200px;
    }

    .testimonial__header,
    .testimonial__data {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .testimonial__header div {
        text-align: center;
        padding: .5rem 0;
    }
    .testimonial__img {
        margin-right: 0;
    }
}

@media screen and (min-width: 568px){
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data {
        grid-column: initial;
    }
    .home__img {
        order: 1;
        justify-self: center;
    }

    .about__container,
    .skills__container,
    .portfolio__grid-projects,
    .project__container,
    .contact__container,
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .qualification__section {
        display: grid;
        grid-template-columns:.6fr;
    }

}
@media screen and (min-width: 768px){
    .container__page {
        margin: 0 auto;
    }
    body {
        margin: 0;
    }
    .section {
        padding: 6rem 0 2rem;
    }
    .section__subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial !important;
    }
    .header,
    .main,
    .footer__container {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }
    .nav__list {
        display: flex;
        column-gap: 2rem;
    }
    

}
@media screen and (min-width: 920px) {
    .container__page{
        max-width: 1121px !important;
    }

    .portfolio__grid-projects,
    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .nav__icon{
        display: block;
    }
    .nav__link {
        flex-direction: row !important;
        gap: .5rem;
    }
}